<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<nav class="shadow-lg">
  <div class="flex flex-wrap justify-between ml-5 items-center mx-auto px-4 py-2.5">
    <a href="" class="flex align-center">
      <img class="h-9 mr-3" src="https://cdn2.iconfinder.com/data/icons/vivid/48/cart-1024.png">
      <span class="self-center text-xml font-semibold">Shop It</span>
    </a>

      <div class="flex item-center ">
          <a  href="" class="mr-6 text-sm font-medium text-grey-500">Dashboard</a>
          <a  href="" class="mr-6 text-sm font-medium text-grey-500">Sales</a>
          <a  href="" class="mr-6 text-sm font-medium text-grey-500">Orders</a>
          <a  href="" class="mr-6 text-sm font-medium text-grey-500">Create Products</a>
          <a  href="" class="mr-6 text-sm font-medium text-grey-500">My Purchases</a>
          <a  href="" class="mr-6 text-sm font-medium text-grey-500">Logout</a>
      </div>
  </div>
</nav>
{% block body %}


{% endblock %}
</body>
</html>

